.container {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  line-height: 1.7;
}

.footer {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 104px;
}
.footer div {
  display: flex;
  flex-direction: column;
}
.footer span {
  font-size: 12px;
}

.company {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.copyright {
  margin-top: 1rem;
}
