.title {
  width: 100%;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.title div {
  flex: 1;
}

.title section {
  flex: 2;
}

.title h2 {
  font-size: 2rem;
  margin: 0 0 0.5rem;
}

.title sub {
  font-size: 1rem;
}

@media (max-width: 700px) {
  .title {
    margin-bottom: 66px;
    flex-direction: column;
  }
  .title section {
    margin-top: 3rem;
  }
}
