.container {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.2s ease;
}
.container.white {
  color: #fff;
}
.container.black {
  color: #000;
  background-color: #fff;
}

.navbar {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  height: 100%;
  width: 150px;
}
.logo img {
  object-fit: contain;
}

.menuBtn {
  display: none;
  padding: 1rem;
}

.navlist {
  display: flex;
  height: 100%;
  align-items: center;
}
@media (max-width: 700px) {
  .menuBtn {
    display: block;
  }
  .navlist {
    display: none;
  }
}

.navlink {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  font-weight: 700;
}
.navlink a {
  /* padding: 40px 0; */
}

.depth2 {
  display: block;
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 1000;
}
.depth2 ul {
  padding: 36px 0;
}
.depth2 li {
  list-style: none;
  padding: 6px 0;
}
.depth2 li a {
  display: inline-block;
  padding: 6px 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid #fff;
  transform: skew(-0.1deg);
  text-decoration: none;
  color: #000;
}
.depth2 li a:hover {
  color: blue;
  border-color: blue;
}

.inner {
  display: block;
  height: 240px;
  background-color: white;
}

@keyframes slide-down {
  from {
    /* transform: translateY(-100%); */
    height: 0;
  }
  to {
    /* transform: translateY(0); */
    height: var(--header-height);
  }
}
@keyframes slide-up {
  from {
    /* transform: translateY(0); */
    height: var(--header-height);
  }
  to {
    /* transform: translateY(-100%); */
    height: 0;
  }
}
.mobileNav {
  width: 100%;
  display: flex;
  position: fixed;
  top: var(--header-height);
  height: 0;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  opacity: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  animation-duration: 0.3s; /*애니메이션 지속 시간*/
  animation-timing-function: ease-in-out;
}
.mobileNav.showMobileNav {
  margin-left: auto;
  background-color: #fff;
  opacity: 1;
  height: var(--header-height);
  animation-name: slide-down; /*애니메이션 이름*/
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.mobileNav.hideMobileNav {
  height: 0;
  opacity: 0;
  animation-name: slide-up;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
